<!-- ********************************************************************** -->
<!-- Hangman: Index -->
<!-- ********************************************************************** -->

<!-- ******************************************** -->
<!-- Navigation -->
<!-- ******************************************** -->

<div id="navigation">
	<div id="logout_div">
	  <form action="/sessions" method="post">
	    <input type="hidden" name="_method" value="delete">
	    <input type="submit" value="Log-Out" class="navigation-button">
	  </form>
	</div>
</div>


<!-- ******************************************** -->
<!-- Hangman Image, Scoreboard, Guess Boxes -->
<!-- ******************************************** -->

<div id="hangman_main_div">
	<!-- hangman image (left side of screen) -->
	<div id="hangman_img_div">
		<img src="imgs/Hangman1.png" alt="Hangman Image" id="hangman_img"> 
	</div>
	<div id="hangman_guess_area_div">
		<!-- scoreboard div -->
		<div id="score_div">
		 	<table id="score_table">
				<tr>
					<td>Wins</td>
					<td>Losses</td>
				</tr>
				<tr>
					<td id="wins"><%= @wins %></td>
					<td id="losses"><%= @losses %></td>
				</tr>
			</table>
		</div>
		<!-- hint div	 -->
		<div id="hint_div">
			<h3>Hint: <%= @hangmangame.word.hint %></h3>
		</div>
		<!-- guess boxes div -->
		<div id="guess_div">
		<% @game_word_letters.each.with_index do |letter, index| %>
			<div class="guess_letter_div">
				<p id="guess_letter_<%= index %>">?
				</p>
			</div>	
		<% end %>
		</div>
	</div>	
</div>	


<!-- ******************************************** -->
<!-- A-Z Letter Buttons -->
<!-- ******************************************** -->


<div id="typing_area">
	<div id="play_again_div">
 		<!-- <form action="/hangmangames" method="get" id="play_again_form">		 -->
		<form action="/" method="get" id="play_again_form">
		<input type="submit" value="PLAY AGAIN" id="play_again_button">
		</form>
	</div>
	<div id="letters_button_div">
	<% @letters_arr.each do |letter| %>
		<!-- <form action="/hangmangames/callletter" method="get"> -->
		<form action="/callletter" method="get">			
			<input type="hidden" name="letter" value=<%=letter%>>
			<input type="hidden" name="hangmangame_id" value=<%=@hangmangame.id%>>		
			<input type="submit" value=<%=letter%> class="action-button red">
		</form>
	<% end %>
	</div>	
</div>


<!-- ******************************************** -->
<!-- Scripts -->
<!-- ******************************************** -->


<script charset="utf-8">

$(function() {
	// $form = $("form[action='/hangmangames/callletter']");
	$form = $("form[action='/callletter']");	
	$form.on("submit", function(e){	
		e.preventDefault();
		letter = $(e.target).find("input[name='letter']").val();
		hangmangame_id = $(e.target).find("input[name='hangmangame_id']").val();		
		$.ajax({
			//use GET because we're pulling information
			method: "GET",
			//get the url from the form
			// url: "/hangmangames/callletter",
			url: "/callletter",
			//we expect the data that we get back to be in JSON
			dataType: "JSON",
			//we will be sending a hash of our ingredients
			data: {letter: letter, hangmangame_id: hangmangame_id},
			success: updatepage
		});
	});
});

</script>






